#home-page {
    background-color: gainsboro;
    height: 100vh;
}

#home-header {
    padding-top: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    // background-color: black;
    // color: white;
}

#profile-info {
    display: grid;
}
