a {
    text-decoration-line: none;

}

a:visited {
    color: unset;
}

#nav-bar {
    padding-bottom: 20px;
    background-color: black;
    color: white;
    font-family: Raleway, sans-serif;
    display: flex;
    
    padding-left: 10%;
    // border: 1px solid orange;
    align-items: center;
    
}

.head-button {
    border: none;
    outline: none;
    background-color: black;
    color: gainsboro;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 65px;
    padding-left: 16px;
    padding-right: 16px;
    // width: 112px;
}

.head-button:hover {
    background-color: rgb(56, 54, 54);
}

.title-header {
    color: white;
    margin: 10px;
}

#home-link {
    font-size: 30px;
    font-weight: 900;
    color: white;
}

#profile-logout {
    position: absolute;
    right: 12%;
}

#nav-logout {
    font-size: 14px;
    font-family: Raleway, sans-serif;
    font-weight: 700; 
    border-radius: 2px;
    color: white;
    background-color: darkorchid;
    height: 40px;
}

#nav-logout:hover {
    background-color: mediumorchid
}

#footer {
    display: flex;
    background-color: gainsboro;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

#footer-link {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

#git-img {
    height: 50px;
    width: 50px;
}

#linkedin-img {
    height: 38px;
    width: 38px;
}

