#personality {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    justify-content: space-around;
    background-color: gainsboro;
    min-height: 100%;
    max-width: 100%;
}


.personality-form {
    display: flex;
    justify-content: space-around;

}
.personality-container {
    display: grid;
    grid-gap: 20px;
}

.personality-question {
    display: flex;
    flex-direction: column;
    // grid-gap: 15px; 
    margin: 10px;
}

.personality-input {
    width: 320px;
    height: 128px;
    resize: none;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 5px gray;
    margin: 10px 0px
}


.personality-input:focus {
    border: none;
    outline: none; 
}

.personality-title {
    
    margin-left: 20px;
}
