

.profile-show-container {
   display: flex; 
//    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: Raleway, sans-serif;
    background-color: gainsboro;
}

.profshow {
    // border: black solid;
    height: 6vh;
    // align-items: space-between;
    width: 35vh;
    padding: 10px;
    display: flex;
    align-items: center;
    
}

.profshow:hover {
    background-color: white;
    box-shadow: 2px 2px 5px gray; 
}

#photo-placeholder {
    color: black;
}

.profile {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 50vh;
    margin-right: 15%;
    margin-left: 50px;
    // justify-content: space-around;
    // padding: 10px;
    
}


#profilewrapper {
    display: flex;
    margin-top: 50px;
    // justify-content: space-between;
}

.description {
    
    // flex-grow: 1;
    height: 15vh;
    width: 60vh;
    display: flex;
    flex-direction: column;
    // align-items: flex-end;
    margin-left: 25%;
    // border: black solid;
    // justify-content: flex-end;
    background-color: white;
    // padding: 10px;
    word-wrap: break-word;
    padding-top: 12px;
    padding-bottom: 12px;
    // right: 0px;
    
    
}

.field-title {
    // left: 17px;
    font-weight: 700;
    font-size: 18px;
    border-bottom: 1px solid;
    border-color: gainsboro;
    padding: 12px;
    margin: 0px;

}

.field-text {
   padding: 12px;
}

.ftxt {
    margin-inline-end: 3px;; 
    margin: 0px;
}

#edit-profile {
    background-color: darkorchid;
    color: white;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // margin-top: -10px;
}

#info-bar {
    color: white;
    background-color: black;
    height: 32vh;
    display: flex;
    padding-left: 25%;
    // border: white solid;
    // justify-content: space-evenly;
    // align-items: center;
}

#name {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 35px; 
    margin: 0px;


}
#name-age {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#age-location {
    display: flex;
    font-size: 19px;
}

#edit-profile {
    margin-bottom: 10px;
}

#line1 {
    font-weight: 700;
    margin: 10px;
    margin-bottom: 5px;
}

#line2 {
    margin: 10px;
    margin-top: 0px;
}

.al {
    margin-right: 20px;
}

Link {
    color: white;
}