// .home-head {
//     background-color: black;
//     color: white;
//     // border: purple solid;


// }

.profile-show-container {
   display: flex; 
//    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: Raleway, sans-serif;
    background-color: gainsboro;
}

.profshow {
    border: black solid;
    height: 100%;
    // align-items: space-between;
    width: 50vh;
}

.profile {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 50vh;
    margin-right: 15%;
    // justify-content: space-around;
    // padding: 10px;
    
}


#profilewrapper {
    display: flex;
    // justify-content: space-between;
}

#bio {
    
    // flex-grow: 1;
    // height: 100vh;
    width: 75vh;
    display: flex;
    flex-direction: column;
    // align-items: flex-end;
    margin-left: 20%;
    border: black solid;
    // justify-content: flex-end;
    background-color: white;
    // padding: 10px;
    word-wrap: break-word;

}

#biotext {
}