.home-head {
    background-color: black;
    color: white;
    // border: purple solid;


}

.profile-show-container {
   display: flex; 
//    align-items: center;
   border: black solid;
   height: 100vh;
   flex-direction: column;
}

.profshow {
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vh;
    border: green solid;
    
}


#profilewrapper {
    display: flex;
    border: black solid;
    justify-content: space-between;
}
