#search-container {
    min-height: 86.7%;
    background-color: gainsboro;
    max-width: 100%;
}

#search-bar {
    max-width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    margin: 20px;
}

#search-header {
    margin: 0px;
    padding: 20px;
}

#search-results {
    justify-content: center;
    max-width: 100%;
    

}

#search-profs {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    max-width: 100%;
}

#search-profs:hover {
    background-color: white;
    box-shadow: 2px 2px 5px gray;
}

a {
    text-decoration: none;
    color: black;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

#reset {
    border: none;
    outline: none;
    height: 64px;
    width: 120px;
    color: white;
    font-weight: 700;
    background-color: darkorchid;
    border-radius: 2px;
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 1px;
    padding-bottom: 1px;
}

#reset:hover {
    background-color: orchid;
}

#search {
    margin-right: 35px;
}

#search-dropdown {
    width: 250px;
    option {
        width: 250px;
        // display: flex;
        // flex-wrap: wrap;
    }
}

#search-img {
   margin: 0px; 
}