.login-form-container {
    font-family: Raleway, sans-serif; 
    text-align: center;
    background-color:plum;
    color: white;
    font-size: 30px;
    // margin-left: 700px;
    // margin-right: 700px;
    // margin-top: 150px;
    // margin-bottom: 150px;

}

.login-form-container img {
    width: 1720px;
    height: 1080px;
}

.session-submit {
    color:white;
    background-color: darkorchid; 
    font-size: 16px;
}
