.login-form-container {
    font-family: Raleway, sans-serif; 
    text-align: center;
    background-color: white;
    color:black;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;

}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.session-submit {
    width: 238px;
    display: flex;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    background-color: darkorchid; 
    font-size: 20px;
    padding: 15px 10px;
    margin: 10px;
    cursor: pointer;
}

.session-submit:hover {
    background-color: orchid;
}

.login-input {
    border: gainsboro solid;
    border-radius: 10px;
    font-size: 18px;
    padding: 3%;
}

.login-input:focus {
    border: gray solid;
    border-radius: 10px;
    outline: none;
}

#close-x {
    display: flex;
    justify-content: flex-end;

}

#closebutton {
    border: none;  
    background-color: white;
    font-size: 18px;
    font-weight: 700;
    color: darkorchid;
    cursor: pointer;
}

#closebutton:hover {
    color: orchid;
}
#closebutton:focus {
    color: orchid;
    border: none;
    outline: none;
}

.formType {
    // font-style: italic;
    font-size: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infofield {
    font-size: 20px;
    padding: 10px;
}

#demo-user {
    width: 218px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    color: white;
    background-color: darkorchid; 
    font-size: 20px;
    padding: 15px 10px;
    margin: 5px;
    cursor: pointer;
  


}

#demo-user:hover {
    background-color: orchid;
}

#logo {
    height: 35px;
    width: 35px;
}

