.login-form-container {
    font-family: Raleway, sans-serif; 
    text-align: center;
    background-color: white;
    color:black;
    // font-size: 30px;
    border-radius: 10px;
    padding: 10px 40px;
    display: flex;
    flex-direction: column;

}

.login-form {
    display: flex;flex-direction: column;
    align-items: center;
}

.session-submit {
    border: none;
    outline: none;
    border-radius: 30px;
    color: white;
    background-color: darkorchid; 
    font-size: 20px;
    padding-top: 15px;
    padding-bottom:15px; 
    padding-left: 53px;
    padding-right: 50px;
    margin: 10px;
}

.login-input {
    border: gainsboro solid;
    border-radius: 20px;
    font-size: 18px;
    padding: 3%;
}

.login-input:focus {
    border: gray solid;
    border-radius: 20px;;
    outline: none;
}

#close-x {
    display: flex;
    justify-content: flex-end;

}

#closebutton {
    border: gainsboro solid;;   
    background-color: white;
    border-radius: 50px;
    font-size: 18px;
    color: gainsboro;
}

.formType {
    font-style: italic;
    font-size: 30px;
    padding: 5px;
}

.infofield {
    font-size: 20px;
    padding: 10px;
}

#demo-user {
    border-radius: 30px;
    color: white;
    background-color: darkorchid; 
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px; 
    padding-left: 43px;
    padding-right: 43px;
    margin: 5px;

}